<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Allow your body to open.</string>
	<string>Your baby is helping with the labor too.</string>
	<string>Your body knows exactly how to give birth.</string>
	<string>Your body is smart. It knows how to birth your baby.</string>
	<string>This labor is exactly what your baby needs.</string>
	<string>You are much stronger than you realize.</string>
	<string>You can do it. You are doing it!</string>
	<string>You are powerful.</string>
	<string>I&apos;m here, you&apos;re not alone.</string>
	<string>You are helping in a miracle.</string>
	<string>Contractions are moving your baby.</string>
	<string>Each contraction is bringing your baby closer.</string>
	<string>I love you.</string>
	<string>Let your body do its work; You just relax and get out of the way.</string>
	<string>Feel your cervix open.</string>
	<string>You have enough strength in you.</string>
	<string>This may be hard, but it&apos;s also normal and healthy.</string>
	<string>Trust your body, trust your baby.</string>
	<string>Feel the baby coming lower, coming out.</string>
	<string>Ride the wave of this contraction, float along with it.</string>
	<string>You are so beautiful.</string>
	<string>Contractions are your friends; they will bring your baby to you.</string>
	<string>You are working so hard for your baby.</string>
	<string>You can pull from the strength of all birthing women.</string>
	<string>This is only temporary.</string>
</array>
</plist>
